* {
  margin: 0;
}

body {
  background-image: linear-gradient(to right, #11adee, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 90%;
  height: 90%;
  max-width: 750px;
  max-height: 750px;
  background-color: #fefefe;
  border-radius: 5px;

  display: grid;
  grid-template-columns: auto auto auto;
}

div {
  border: 1px solid #eee;
  border-radius: 5px;
}
